.row {
  margin-left: 10px;
  margin-right: 10px;
}

.row:after {
  content: normal;
}

.btn-floating.halfway-fab {
  bottom: 90px;
}

.card-image {
  overflow: hidden;
  height: 250px;
  display: inline-block;
  background-size: cover;
}

.card-image > img {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 15px;
}

.description {
  margin-left: 5px;
  margin-top: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
