<div class="row">
  <div class="col s4 m2">
    <div class="card">
      <div class="card-image">
        <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
        <div *ngIf="!movie.poster_path" >Load image</div>
      </div>
      <div class="favorite-btn">
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">star</i></a>
      </div>
      <div class="description" title="{{ movie.title }}">
        <span class="card-title">
          {{ movie.title }}
        </span>
        <div>
          <span>Popularity</span>
          : {{ movie.popularity  | number : '1.0-1' }}
          <br>
          <span>Vote count</span>
          : {{ movie.vote_count }}
        </div>
        <div>
          {{ movie.release_date}}
        </div>
      </div>
    </div>
  </div>
</div>




