<app-movie-search (searchValue)="getMovies($event)"></app-movie-search>

<div>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="disabled">
      <a (click)="setPage(1)">
        <i class="material-icons">first_page</i>First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">
        <i class="material-icons">chevron_left</i>Prev</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="active waves-effect">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="waves-effect">
      <a (click)="setPage(pager.currentPage + 1)">
        <i class="material-icons">chevron_right</i>Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="waves-effect">
      <a (click)="setPage(pager.totalPages)">
        <i class="material-icons">last_page</i>Last</a>
    </li>
  </ul>
</div>

<div>
  {{page}} of {{total_pages}}
</div>
<div *ngIf="movieList.length !== 0">
  <app-movie-card *ngFor="let movie of movieList" [movie]="movie"></app-movie-card>
</div>
<div class="center-align" *ngIf="movieList.length === 0">
  No Movies found
</div>
<!--<app-pagination (page)="setPage($event)"></app-pagination>-->


<!--<ul class="pagination">-->
<!--<li class="disabled"><a href="#!"><i class="material-icons">first_page</i></a></li>-->
<!--<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>-->
<!--<li class="active"><a href="#!">1</a></li>-->
<!--<li class="waves-effect"><a href="#!">2</a></li>-->
<!--<li class="waves-effect"><a href="#!">3</a></li>-->
<!--<li class="waves-effect"><a href="#!">4</a></li>-->
<!--<li class="waves-effect"><a href="#!">5</a></li>-->
<!--<li class="waves-effect" (click)="onChange($event)"><a href="#!"><i class="material-icons">chevron_right</i></a></li>-->
<!--<li class="disabled"><a href="#!"><i class="material-icons">last_page</i></a></li>-->
<!--</ul>-->


