/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: #20B2AA;
}
.nav-wrapper {
  background-color: #20B2AA;
}

.content-wrapper {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  padding-bottom: 150px;
}

.content {
  width: 100%;
}

.brand-logo {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  width: 22%;
  height: auto;

}
.pagination {
  position: absolute;
  margin-left: 45%;
  margin-right: -50%;
}
