<!--<div>-->
  <!--<i class="material-icons md-light" (click)="getFavoriteId(selectedMovie?.id)">favorite_border</i>-->
<!--</div>-->
<!--<div *ngFor="let favorite of favorite">-->
  <!--<ul>-->
    <!--<li>{{ favorite.id }}</li>-->
  <!--</ul>-->
<!--</div>-->
<div *ngIf="!inFavorite">
  <button (click)="addFavorite(selectedMovie?.id)">add To Favorite</button>
  <button (click)="removeFavorite(selectedMovie?.id)">remove from Favorite</button>
  <button (click)="checkFavoriteId()">check</button>
</div>
<div *ngIf="inFavorite">
  <button (click)="addFavorite(selectedMovie?.id)">add To Favorite</button>
  <button (click)="removeFavorite(selectedMovie?.id)">remove from Favorite</button>
</div>
